<aside class='main-sidebar'>
    <section class='sidebar'>
        <ul class='sidebar-menu'>
            <ng-container>
                <li class="ng-star-inserted">
                    <a>
                        <i class="fa fa-bars"></i>
                        <span>  Test - 1</span>                      
                    </a>
                </li>
                <li>
                    <a>
                        <i class="fa fa-bar-chart"></i>
                        <span>  Test - 2</span>                      
                    </a>
                </li>
            </ng-container>
        </ul>
    </section>
</aside>