$variables: (
--primaryColor: var(--primaryColor),
--defaultColor: var(--defaultColor),
--secondaryColor: var(--secondaryColor),
--thirdColor: var(--thirdColor),
--sidemenuColor: var(--sidemenuColor),
);